.body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.outText{
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Open Sans", sans-serif;
}